@font-face {
    font-family: 'MyCustomFont';
    src: url('the_students_teacher/TheStudentsTeacher-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root {
    --primary-color: #FF6969;
    --secondary-color: #C80036;
    --text-color: #FFF5E1;
    --background-color: #0C1844;
    --img-color:#ffffff;
  }

* {
    font-family: 'MyCustomFont';
}

body {
    background-color: #f4f4f8;
    height: 98vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(background1.png);
    background-size: 100%;
}

.main-container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    text-align: center;
    /* background-color: var(--background-color); */
    border-radius: 8px;
}

#road-container {
    width: 100%;
    max-height: 400px;
    aspect-ratio: 1/1;
    position: relative;
    border: var(--text-color) 1px solid;
    border-radius: 8px;
    background-color: var(--img-color);
    
    
}

.question-section {
    margin-top: 20px;
    font-size: 2em;
    font-weight: bold;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: var(--text-color);
    padding: 10px;
    border: var(--text-color) 1px solid;
}

.buttons-section {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    padding: 10px;
    border: var(--text-color) 1px solid;
}

.buttons-section button {
    padding: 12px 24px;
    font-size: 1.5em;
    border: none;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: var(--text-color) 2px solid;
}

.buttons-section button:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
    border: var(--primary-color) 2px solid;
}
