#vertical_road {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 10%;
  height: 50%;
  background: gray;
}

#t_junction_top {
  position: absolute;
  top: 45%;
  left: 0%;
  width: 100%;
  height: 10%;
  background: gray;
}
