<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <title>Quiz - Forgalmi Szituk</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='csstyle.css') }}">
  <script src="{{ url_for('static', filename='js.js') }}"></script>
</head>
<body>

    {% block content %}
<div class="main-container">
  <div class="image-section">
    <div id="road-container">
        <img id="question-image" src="" alt="Question Image" />
    </div>
  </div>
  <div class="question-section" id="question-text"></div>
  <div class="buttons-section" id="answer-buttons"></div>
  <div id="progress"></div>
</div>

  {% endblock %}
</body>

</html>